<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boi Chai App</title>

    <!-- PLUGINS CSS STYLE -->
    <!-- Bootstrap -->
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Themefisher Font -->
    <link href="plugins/themefisher-font/style.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Owl Carousel Theme -->
    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">
    <!-- Fancy Box -->
    <link href="plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">

    <!-- CUSTOM CSS -->
    <link href="css/style.css" rel="stylesheet">

    <!-- FAVICON -->
    <link href="images/favicon.png" rel="shortcut icon">

</head>

<body class="body-wrapper">

<nav class="navbar main-nav navbar-expand-lg p-0">
    <div class="container">
        <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="tf-ion-android-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown dropdown-slide active">
                    <a class="nav-link" href="index">Home
                        <!-- <span><i class="tf-ion-ios-arrow-down"></i></span> -->
                    </a>
                    <!-- Dropdown list -->
                    <!-- <div class="dropdown-menu">
                      <a class="dropdown-item" href="index.html">Homepage</a>
                      <a class="dropdown-item" href="homepage-2.html">Homepage 2</a>
                      <a class="dropdown-item" href="homepage-3.html">Homepage 3</a>
                    </div> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="privacy-policy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--==================================
=            Hero Section            =
===================================-->

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <!-- Banner Contents -->
                <div class="block text-center">
                    <h1>The new way to buy and sell books online.</h1>
                    <p>Boi Chai offers you the easiest way to buy and sell old or new books online within few press.
                    </p>
                    <!-- Go to App page -->
                    <ul class="list-inline app-badge">
                        <!-- Apple Store -->
                        <!-- <li class="list-inline-item">
                            <a href="#"><img src="images/app/appple-store.png" alt="Apple Store"></a>
                        </li> -->
                        <!-- Google Play -->
                        <li class="list-inline-item">
                            <a href="#"><img src="images/app/google-play.png" alt="Google Play"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                <div class="block">
                    <a href="index.html"><img src="images/logo_white.png" alt="footer-logo"></a>
                    <!-- Social Site Icons -->
                    <ul class="social-icon list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/boichaiapp/"><i class="tf-ion-social-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="tf-ion-social-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="tf-ion-social-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <!-- heading -->
                    <h6>Platform</h6>
                    <!-- links -->
                    <ul>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Career</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <!-- heading -->
                    <h6>For Users</h6>
                    <!-- links -->
                    <ul>
                        <li><a href="">For Sellers</a></li>
                        <li><a href="">For Buyers</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <!-- heading -->
                    <h6>Company</h6>
                    <!-- links -->
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                        <li><a href="./faq.html">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JAVASCRIPTS -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

<script src="plugins/jquery/jquery.js"></script>
<script src="plugins/popper/popper.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="plugins/syotimer/jquery.syotimer.min.js"></script>

<script src="js/custom.js"></script>
</body>

</html>
