<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Boi Chai App</title>


    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="plugins/themefisher-font/style.css" rel="stylesheet">

    <link href="plugins/owl-carousel/assets/owl.carousel.min.css" rel="stylesheet" media="screen">

    <link href="plugins/owl-carousel/assets/owl.theme.green.min.css" rel="stylesheet" media="screen">

    <link href="plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">


    <link href="css/style.css" rel="stylesheet">


    <link href="images/favicon.png" rel="shortcut icon">

</head>

<body class="body-wrapper">

<nav class="navbar main-nav navbar-expand-lg p-0">
    <div class="container">
        <a class="navbar-brand" href="index"><img src="images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="tf-ion-android-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown dropdown-slide active">
                    <a class="nav-link" href="index">Home

                    </a>


                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="privacy-policy">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="faq">FAQ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
