{{define "contact"}}
<!DOCTYPE html>
<html lang="en">

{{template "nav" .}}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">
                <!-- Page Title -->
                <h1>Contact Us</h1>
                <!-- Page Description -->
                <p>Feel free to drop us a mail if you have any query.</p>
                <p>hello@boi-chai.com</p>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

{{template "footer"}}

</html>
{{end}}
