{{define "footer"}}
<footer class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 m-md-auto align-self-center">
                <div class="block">
                    <a href="index"><img src="static/images/logo_white.png" alt="footer-logo"></a>

                    <ul class="social-icon list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/boichaiapp/"><i class="tf-ion-social-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="tf-ion-social-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="tf-ion-social-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <h6>Platform</h6>
                    <ul>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Career</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <h6>For Users</h6>
                    <ul>
                        <li><a href="">For Sellers</a></li>
                        <li><a href="">For Buyers</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
                <div class="block-2">
                    <h6>Company</h6>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="privacy-policy">Privacy Policy</a></li>
                        <li><a href="faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBI14J_PNWVd-m0gnUBkjmhoQyNyd7nllA" async defer></script>

<script src="static/plugins/jquery/jquery.js"></script>
<script src="static/plugins/popper/popper.min.js"></script>
<script src="static/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="static/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="static/plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="static/plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="static/plugins/syotimer/jquery.syotimer.min.js"></script>

<script src="static/js/custom.js"></script>
</body>

{{end}}
