{{define "privacy_policy"}}
<!DOCTYPE html>
<html lang="en">

{{template "nav" .}}

<!--================================
=            Page Title            =
=================================-->

<section class="section page-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 m-auto">

                <h1>Privacy Policy</h1>

                <p>We, at Boi Chai, ensure to maintain the highest standards of transactional security and quality so
                    that your information and details are secure.</p>

                <p>
                    This privacy policy is an agreement. When you download our app and visit our website then you are
                    starting to accept the practices described in this Privacy Policy.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="privacy section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="block">

                    <div id="userLicense" class="policy-item">
                        <div class="title">
                            <h3>Information We Collect</h3>
                        </div>
                        <div class="policy-details">
                            <p>Information we collect directly is Your Name, Phone Number, Email Address, Profile
                                Picture. Your location when you place an offer or an order.</p>
                            <p>Besides we collect books information you intened to buy or sell.</p>
                        </div>
                    </div>

                    <div id="disclaimer" class="policy-item">
                        <div class="title">
                            <h3>How We Use Your Information</h3>
                        </div>
                        <div class="policy-details">
                            <p>
                                1. We verify your phone number to ensure that you are a valid user. It helps us to
                                increase the security of the users in our platform.<br/><br/>

                                2. To increase efficiency when you use our platform.<br/><br/>

                                3. Generate analytical data like total users, offers, orders etc.<br/><br/>

                                4. If we sell or otherwise transfer part or the whole of BoiChai or our assets to
                                another organization (e.g., in the course of a transaction like a merger, acquisition,
                                bankruptcy, dissolution, liquidation), your information such as name and phone number
                                and any other information collected through the Service may be among the items sold or
                                transferred. You will continue to own your user profile. The buyer or transferee will
                                have to honor the commitments we have made in this Privacy Policy.<br/><br/>

                                5. We may access, preserve and share your information in response to a legal request
                                (like a search warrant, court order or subpoena) if we have a good faith belief that the
                                law requires us to do so. This may include responding to legal requests from
                                jurisdictions outside of Bangladesh where we have a good faith belief that the response
                                is required by law in that jurisdiction, affects users in that jurisdiction, and is
                                consistent with internationally recognized standards. We may also access, preserve and
                                share information when we have a good faith belief it is necessary to: detect, prevent
                                and address fraud and other illegal activity; to protect ourselves, you and others,
                                including as part of investigations; and to prevent death or imminent bodily harm.
                                Information we receive about you may be accessed, processed and retained for an extended
                                period of time when it is the subject of a legal request or obligation, governmental
                                investigation, or investigations concerning possible violations of our terms or
                                policies, or otherwise to prevent harm.<br/><br/>
                            </p>
                        </div>
                    </div>

                    <div id="limitations" class="policy-item">
                        <div class="title">
                            <h3>Your Information We Share</h3>
                        </div>
                        <div class="policy-details">
                            <p>
                                1. We share Your Name, Profile Picture, Phone Number and Offer/Order location when other
                                user place an order against an offer you posted in our platform.
                            </p>
                        </div>
                    </div>

                    <div id="governigLaw" class="policy-item">
                        <div class="title">
                            <h3>How We Store Your Information</h3>
                        </div>
                        <div class="policy-details">
                            <p>
                                1. Your information collected through the Service may be stored and processed in
                                Bangladesh or any other country in which BoiChai, its Affiliates or Service Providers
                                maintain facilities.<br/><br/>

                                2. By registering for and using the Service you consent to the transfer of information
                                to Bangladesh or to any other country in which BoiChai, its Affiliates or Service
                                Providers maintain facilities and the use and disclosure of information about you as
                                described in this Privacy Policy.<br/><br/>

                                3. We use commercially reasonable safeguards to help keep the information collected
                                through the Service secure and take reasonable steps to verify your identity before
                                granting you access to your account. However, BoiChai cannot ensure the security of any
                                information you transmit to BoiChai or guarantee that information on the Service may not
                                be accessed, disclosed, altered, or destroyed.<br/><br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{template "footer"}}

</html>
{{end}}
